/*This container includes our table and canves.*/
.center-container {
    /*This property sets the width of our container.*/
    width: 608px;
    /*This property centers our container.*/
    margin: 0 auto;
    /*50px down from the top.*/
    margin: 50px;
}
h1{
    text-align: center;
}
table {
    /*This property collapses table border in one border.*/
    border-collapse: collapse;
    /*This hides outer borders on table.*/
    border-style: hidden;
}
td {
    /*This property changes the cursor to the index finger hand when we hover over td element.*/
    cursor: pointer; 
    /*This property sets our tableborder style.*/
    border: 4px solid rgba(3, 248, 252, 0.8);
    /*This property removes default padding.*/
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}
canvas {
    /*This property sets the position of our canves to the top left corner of our container.*/
    position: absolute;
    /*This property places our canves over the top of our table.*/
    z-index: 10;
    /*THis property makes our canves invisible.*/
    pointer-events: none;
}